<h1>Snippets</h1>
<div>
  <% @snippets.each do |snippet| %>
    <% if snippet.private %>
      <li><%= link_to snippet.name, snippet_path(snippet) %> (<%= snippet.language.name %>) - Private</li>
    <% else %>
      <li><%= link_to snippet.name, snippet_path(snippet) %> (<%= snippet.language.name %>)</li>
    <% end %>
  <% end %>
</div>
