<h1>Snippets by Language</h1>
<% @snippets.each do |language,snippets| %>
  <h3><%= "#{language} (#{@snippets[language].size})" %></h3>
  <ul>
    <% snippets.each do |snip| %>
      <% if snip.private %>
        <% priv = "(private)" %>
      <% else %>
        <% priv = "" %>
      <% end %>

        <li><%= link_to "#{snip.name} #{priv}", snippet_path(snip) %></li>
    <% end %>
  </ul>

<% end %>
