<div class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
    <h2 class="text-center"><i class="fa fa-code" aria-hidden="true" style="color: orange"></i> Code Snippets</h2>
    <br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <% @snippets.each do |language,snippets| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= language %>" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">
                <%= "#{language} (#{@snippets[language].size})" %>
            </h4>
          </a>
        </div>

        <div id="<%= language %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <% snippets.each do |snip| %>
          <div class="panel-body">
            <% if snip.private %>
              <% priv = "(private)" %>
            <% else %>
              <% priv = "" %>
            <% end %>
              <li><%= link_to "#{snip.name} #{priv}", snippet_path(snip),
                                remote: true,
                                data: {toggle: "modal", target: "#show-snippet"} %></li>
          </div>
          <% end %>
        </div>

      </div>
      <% end %>

    </div>
  </div>
</div>



<!-- Show Snippet Modal -->
<div class="modal fade" id="show-snippet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Snippet</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
