// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.form-with-icon {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.input-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

span.input-group-addon {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 55px;
}
